main, body, footer {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  z-index: 1;
  background-color: black;
  display: block;
  width: 100%;
  top: 0px;
  height: 69px;
  border-bottom: 1px solid seashell;
}

#logo {
  height: 50px;
  float: left;
  width: auto;
  margin: 10px;
}

nav {
  float: right;
}

li {
  display: inline-block;
  text-decoration: underline;
  margin: 0 10px;
}

a {
  color: grey;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 0 50px;
}

#mission {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 700px;
}

.statement {
  margin : 10px 0px;
}

#mission div {
  background-color: black;
  margin: 0px;
  width: 100%;
}

#featured {
  display: block; 
  max-width: 1000px;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 10px;
}

img {
  height: 200px;
  width: 300px;
  opacity: 1;
}

figcaption {
  margin: 10px;
}

#locations {
  background-image: url("locations.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.address-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.address {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: 15px 20px 40px;
  opacity: 1; 
  background-color: black;
  border-radius: 20px;
}

#loca {
  position: relative;
  top: 30px;
}

footer {
  width: 100%;
}

footer h5 {
  float: left;
  margin: 20px;
}
@media only screen and (max-width: 587px) {
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
  }

  #logo {
    height: 70px;
    width: auto;
    margin: 0px;
  }

  ul {
    margin: 5px 0 22px;
  }
}

@media only screen and (max-width: 655px) {
  figure { 
    width: 75%;
    height: auto;
  }
  
  figure img { 
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  .address-wrap {
    display: block;
  }

  .address {
    position: relative;
    margin: 50px auto;
    width: 70%;
  }

  #loca {
    font-size: 2em;
  }
}