* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}



.mission {
  display: flex;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 700px;
}

.locations {
  display: flex;
  background-image: url("locations.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 500px;
}